@layer reset, base, theme;
/* 위와 같은 레이어 순서 정의가 없다면 나중에 나온 layer가 더 높은 우선 순위를 가짐 */
/* 해당 명령어를 사용하는 순간 레이어 생성됨 */

@import url('basic_css/base.css') layer(base);
@import url('basic_css/theme.css') layer(theme);
/* theme.css의 스타일을 불러오고 theme 레이어를 만들어 그 안에 포함시킴 */

/* 레이어 파일 내에서 직접 지정 */
@layer reset{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

:root{  /* == <html> */
    --box_width: 500px;
    --global_box_color: violet;
}

body > div{
    margin: 100px 0px;
}

.box1{
    .box1-1{
        --box_height: 100px;

        width: var(--box_width);
        height: var(--box_height);

        /* 변수 미정의 시 대체값 적용 */
        background-color: var(--alert-color, red);
    }
}

.a{
    --a_box_color: violet;
    width: 500px;
    height: 500px;
    background-color: red;
}
.c{
    width: 100px;
    height: 100px;
    background-color: var(--a_box_color);
}
.b{
    width: 300px;
    height: 300px;
    /* background-color: var(--a_box_color); */
    background-color: blue;
}


.box2{
    .box2-1{
        width: var(--box_width);
        height: 100px;
        margin: 10px;
        background-color: var(--alert-color, blue);
    }
    .box2-2{
        width: var(--box_width);
        height: 100px;
        margin: 10px;
        background-color: green;
    }
    &:hover{
        background-color: bisque;
    }
}

.box3{
    margin: 100px 0px;
    .box3-1{
        :is(h1, h2){color: red;}
        :where(h1, h2, h3){color: blue;}
        :not(:first-child):not(:last-child){
            font-style: italic;
        }
    }

    :is(header, main, footer) :is(h1, h2, .title):hover {
        color: green;
    }
}


.box4{
    height: 500px;
}
.box4-1 {
    container-type: size;
    /* width: 100%; */
    .box_1{
        height: 100px;
        background-color: red;
    }
}
.box4-2 {
    width: 100%;
    .box_2{
        height: 100px;
        background-color: brown;
    }
}

@container (min-width: 1000px){
    .box4-1 .box_1{
        background-color: green;
    }
}

@media (min-width: 1000px) {
  .box4-2 .box_2 {
    background-color: yellow;
  }
}


@property --box5_color{
    syntax: '<color>';
    initial-value: blue;
    inherits: true;
}
@property --box5_height{
    syntax: '<length>';
    initial-value: 200px;
    inherits: false;
}
/* property로 설정해둔 변수는 따로 다른곳에서 선언 안해도 기본 값으로 적용됨 */

.box5{
    --box5_color: 300px; /* 타입이 color이므로 300px을 넣어도 기본값인 blue로 처리 */

    > div{
        margin: 10px
    }
    .box5-1{
        width: 100px;
        height: 100px;
        background-color: red;
    }

    .box5-2{
        width: 100px;
        height: var(--box5_height);
        background-color: var(--box5_color);
        .box5-3{
            width: 50px;
            height: var(--box5_height);
            background-color: green;
        }
    }

    .box5-4{
        --box5_height: 300px; /* 변수 값 변경 */
        width: 100px;
        height: var(--box5_height);
        background-color: var(--box5_color);
        .box5-5{
            width: 50px;
            height: var(--box5_height); /* 상속 여부가 false이기에 box5-4에서 변경한 값이 상속되지 않음 -> 초기값으로 설정됨 */
            background-color: green;
        }
    }
}