:root{  /* == <html> */
    --box_width: 500px;
}

body > div{
    background-color: beige;
    margin: 100px 0px;
}

.box1{
    .box1-1{
        --box_height: 100px;

        width: var(--box_width);
        height: var(--box_height);

        /* 변수 미정의 시 대체값 적용 */
        background-color: var(--alert-color, red);
    }
}

.box2{
    .box2-1{
        width: var(--box_width);
        height: 100px;
        margin: 10px;
        background-color: var(--alert-color, blue);
    }
    .box2-2{
        width: var(--box_width);
        height: 100px;
        margin: 10px;
        background-color: green;
    }
    &:hover{
        background-color: bisque;
    }
}

.box3{
    margin: 100px 0px;
    .box3-1{
        :is(h1, h2){color: red;}
        :where(h1, h2, h3){color: blue;}
        :not(:first-child):not(:last-child){
            font-style: italic;
        }
    }

    :is(header, main, footer) :is(h1, h2, .title):hover {
        color: green;
    }
}


/* .box4{
    .box4-1{
        container-type: size;
        .box4-1-1{
            height: 100px;
            background-color: red;
        }
    }
}

@container (min-width: 1000px){
    .box4-1 .box4-1-1{
        background-color: blue;
    }
} */


/* .box4 {
  container-type: size;
}

.box4 .box4-1 {
  height: 100px;
  background-color: red;
}

@container (min-width: 1000px) {
  .box4 .box4-1 {
    background-color: blue;
  }
} */



.box4{
    height: 500px;
}
.box4-1 {
    container-type: size;
    /* width: 100%; */
    .box_1{
        height: 100px;
        background-color: red;
    }
}
.box4-2 {
    width: 100%;
    .box_2{
        height: 100px;
        background-color: brown;
    }
}

@container (min-width: 1000px){
    .box4-1 .box_1{
        background-color: green;
    }
}

/* @media (min-width: 1000px) {
  .box4-2 .box {
    background-color: yellow;
  }
} */

/* .box4 {
  container-type: size;
  container-name: box4-container;
}

.box4 .box4-1 .box4-1-1 {
  height: 100px;
  background-color: red;
}

@container box4-container (min-width: 1000px){
    .box4 .box4-1 .box4-1-1{
        background-color: blue;
    }
} */